@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

body {
	font-family: "Montserrat";
	background-color: #fff;
}

.navbar {
	letter-spacing: 1px;
	font-weight: 600;
	background-image: linear-gradient(#371b58, #4e1d86);
}

.nav-item {
	letter-spacing: 6px;
	font-weight: 500;
}

.nav-masthead .nav-link {
	padding: 0.25rem 0;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.5);
	background-color: transparent;
	border-bottom: 0.25rem solid transparent;
    letter-spacing: 3px;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
	margin-left: 1rem;
}

.nav-masthead .active {
	color: #fff;
	border-bottom-color: #fff;
}

.skills {
    background-color: #4e1d86;

}

.skills img {
	margin-left: 100px;
}

.icon {
	background-color: #4e1d86;
}

.container {
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 7px 7px 15px;
}

.contact {
	background-color: #4e1d86;
	border-radius: 15px;
	box-shadow: 7px 7px 15px;
}